
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
   
  }
  
  
  
  .mosaic {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
    max-width: 900px; 
    margin: 20px auto;
    justify-content: space-between;
  }
  
  .item {
    background-color: #f0edeb74;
    flex: 1 1 calc(33.333% - 20px); 
    max-width: calc(33.333% - 20px);
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 8px;
  }
  
  .item img {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  .item p {
    margin-top: 10px;
    font-size: 1em;
    color: #333;
  }
  